<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <span class="company__logo"><h2><i class="fas fa-video"></i></h2></span>
            <h2>Register Now </h2>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form p-3">
            <div class="container-fluid">
                
                <div class="row">
                    <form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="form-group">
                        <div class="row my-5">
                            <input type="name" formControlName="name"  name="name" id="name" class="login form-control"
                            placeholder="Enter Your name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                             <div *ngIf="submitted && f.name.errors" class="invalid-feedback text-start">
                               <div *ngIf="f.name.errors.required">name required</div>
                               
                             </div>
                        </div>
                        <div class="row my-5">
                            <input type="email" formControlName="email"  name="email" id="email" class="login form-control"
                            placeholder="Enter Your Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                             <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-start">
                               <div *ngIf="f.email.errors.required">email required</div>
                               <div *ngIf="f.email.errors.email">enter a valid email</div>
                               <div *ngFor="let error of f.email.errors?.server ">
                                {{ error }}
                              </div> 
                             </div>
                        </div>
                        <div class="row my-5">
                            <!-- <span class="fa fa-lock"></span> -->
                            <input type="password" formControlName="password"  name="password" id="password" class="login form-control"
                            placeholder="Enter Your Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                             <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-start">
                               <div *ngIf="f.password.errors.required">password required</div>
                               <div *ngIf="f.password.errors.minlength">The password must be at least 5 characters.</div>
                               
                             </div>
                        </div>
                        <div class="row d-flex justify-content-start">
                            <div class="col-md-1">

                                <input type="checkbox" name="remember_me" id="remember_me" class="">
                            </div><div class="col-md-6 text-start">
                                
                                <label for="remember_me ">Remember Me!</label>
                            </div>
                        </div>
                        <div class="row">
                            <input type="submit" value="Submit" class="btn">
                        </div>
                    </form>
                </div>
                <div class="row d-flex justify-content-start">
                    <div class="col-md text-start">

                        <p class="ps-1">Have an account? <a href="#" routerLink="/account/login">LogIn Here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="container-fluid text-center footer">
 <p>  Coded with &hearts; by <a href="https://bit.ly/yinkaenoch">Yinka.</a></p>
</div>
