<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <span class="company__logo"><h2><i class="fas fa-video"></i></h2></span>
            <h2>Register Now </h2>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form p-3">
            <div class="container-fluid">
                
                <div class="row">
                    <form control="" class="form-group">
                        <div class="row">
                            <input type="text" name="username" id="username" class="form__input" placeholder="Username">
                        </div>
                        <div class="row">
                            <!-- <span class="fa fa-lock"></span> -->
                            <input type="password" name="password" id="password" class="form__input" placeholder="Password">
                        </div>
                        <div class="row d-flex justify-content-start">
                            <div class="col-md-1">

                                <input type="checkbox" name="remember_me" id="remember_me" class="">
                            </div><div class="col-md-6 text-start">
                                
                                <label for="remember_me ">Remember Me!</label>
                            </div>
                        </div>
                        <div class="row">
                            <input type="submit" value="Submit" class="btn">
                        </div>
                    </form>
                </div>
                <div class="row d-flex justify-content-start">
                    <div class="col-md text-start">

                        <p class="ps-1">Have an account? <a href="#" routerLink="/account/login">LogIn Here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="container-fluid text-center footer">
 <p>  Coded with &hearts; by <a href="https://bit.ly/yinkaenoch">Yinka.</a></p>
</div>
